body {
  font-family: Helvetica, Arial, sans-serif;
}

h2, table.data { display: inline-block; vertical-align: middle; }

table.data th {
  border-bottom: 1px solid #000;
  padding: 5px 10px;
  font-weight: normal;
}

table.data td {
  font-weight: bold;
  text-align: center;
}

.canvas {
  position: relative;
  background-color:#EEE;
  width: 800px;
  height: 600px;
  border: 2px solid #000;
}

.overlay {
  position: absolute;
  z-index: 500;
}

.overlay .handle {
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 501;
  background-color: #FFF;
  outline: 1px solid #000;
}

.handle.tl {
  top: -8px;
  left: -8px;
}

.handle.tr {
  top: -8px;
  right: -8px;
}

.handle.bl {
  bottom: -8px;
  left: -8px;
}

.handle.br {
  bottom: -8px;
  right: -8px;
}
